{% extends 'layout.html' %}

{% block title %}{{ headline }} | {{ block.super }} {% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h3>{{ object.name }}</h3>
            {{ object.description|linebreaks }}
            <hr>
            {% if user == object.created_by %}
            <a href="{% url 'groups:companies:update' slug=object.slug %}" class="btn btn-primary btn-sm">Edit</a>

            {% else %}
            <small>Sorry you can't edit as you are a member.</small>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Members</h3>
            {% for member in object.members.all %}
            <span class="list-group-item ">
                {{ member }}
                {% if not member == object.created_by %}
                <small><span class="pull-right"> -- Member</span></small>
                {% else %}
                <small><span class="pull-right "> -- Owner </span></small>
                {% endif %}
            </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}