{% extends 'layout.html' %}
{% load thought_tags %}
{% load static from staticfiles %}
{% block title %}Dashboard| {{ block.super }} {% endblock %}

{% block css %}
<link href="{% static 'js/chartist/chartist.min.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4><strong>Recent thoughts</strong></h4>
            <hr>
            <div class="list-group">
                {% for thought in user.thoughts.all|slice:":4" %}
                <div class="list-group-item" style="margin-top:5px;">
                    <h5><strong>{{ thought.get_condition_display }}</strong></h5>
                    <time class="float-right small" datetime="{{ thought.recorded_at }}">
                        posted_on: {{ thought.recorded_at|date:"SHORT_DATE_FORMAT" }}
                    </time>
                    <hr>
                    {% if thought.notes %}
                    <p>{{ thought.notes|truncatewords:10}}... <a href="#">read</a></p>
                    {% endif %}
                    <small class="float-right">posted_by: {{ user }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% if user.is_authenticated %}
            {% thought_form %}
            <h6 style="margin-top:15px;"><strong>Groups < you've joined > </strong></h6>
            <hr>
            <div class="list-group">
                <h6 style="margin-top:15px;">Company Groups</h6>
                {{ object.name }}
                {% for company in user.companies.all %}
                <a href="{% url 'groups:companies:detail' slug=company.slug %}"
                   class="list-group-item list-group-item-action">{{ company }}</a>
                {% endfor %}
                <hr>
            </div>
            {% else %}
            <h4><strong>Please Login or Sign Up to access.</strong></h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h6 style="margin-top:15px;"><strong>Ups and downs in the past week.</strong></h6>
            <hr>
            <div class="ct-chart ct-perfect-fourth" style="margin-left:-30px; margin-top:15px;"></div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/stretchy.js' %}" data-filter="#id_notes" async></script>
<script src="{% static 'js/chartist/chartist.min.js' %}"></script>
<!--<script src="{% static 'js/my_charts.js' %}"></script>-->
<script>
{% chart_data as data %}

var data = {{ data|safe }};
var options = {
  width: 600,
  height: 500
};
new Chartist.Line('.ct-chart', data);







</script>
{% endblock %}
