{% extends 'layout.html' %}
{% load thought_tags %}
{% load static from staticfiles %}
{% block title %}Dashboard| {{ block.super }} {% endblock %}

{% block css %}
<link href="{% static 'js/chartist/chartist.min.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4><strong>Recent thoughts</strong></h4>
            <hr>
            <div class="list-group">
                {% for thought in user.thoughts.all %}
                <div class="list-group-item" style="margin-top:5px;">
                    <h5><strong>{{ thought.get_condition_display }} {{ thought.condition}}</strong></h5>
                    <time class="float-right small" datetime="{{ thought.recorded_at }}">
                        {{ thought.recorded_at|date:"SHORT_DATE_FORMAT" }}
                    </time>
                    <hr>
                    {% if thought.notes %}
                    <p>{{ thought.notes|linebreaks }}</p>
                    {% endif %}
                    <small class="float-right">posted_by: {{ user }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% if user.is_authenticated %}
            {% thought_form %}
            <div class="ct-chart ct-perfect-fourth" style="margin-left:-30px; margin-top:15px;"></div>
            {% else %}
            <h4><strong>Please Login or Sign Up to access.</strong></h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/stretchy.js' %}" data-filter="#id_notes" async></script>
<script src="{% static 'js/chartist/chartist.min.js' %}"></script>
<!--<script src="{% static 'js/my_charts.js' %}"></script>-->
<script>
{% chart_data as data %}

var data = {{ data|safe }};
var options = {
  width: 600,
  height: 250
};
new Chartist.Line('.ct-chart', data,options);



</script>
{% endblock %}
